
<div class="container" style="margin-top:70px;">
<h1 style="font-size:40px;">Cat: <%= @cat.name %></h1>
<% if current_user.id == @cat.user_id %>
<form action="<%= cat_url(@cat) %> " 
      class="button_to" 
      method="post">
  <input name="_method" type="hidden" value="delete">
      
      <input type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
              
      <button type="submit" 
              class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-remove"></span>
               Delete
      </button>
    
      <a href="<%= edit_cat_url(@cat) %>" 
        class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-wrench"></span> 
        Edit
      </a>
</form>
<% end %>

<hr>

<div class="table_name">Cat Info</div>

<table class="table">
  <thead>
    <th>Owner</th>
    <th>Birthdate</th>
    <th>Age</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </thead>
  
  <tr>
    <td><%= @cat.user.user_name %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
  
</table>

<div class="table_name">Rental Requests
    <% if current_user.id != @cat.user_id%>
  <span class="request">
    <a href="<%= new_cat_cat_rental_request_url(@cat) %>" 
       class="btn btn-default btn-xs">
       <span class="glyphicon glyphicon-plus"></span>
        New rental request
    </a>
  </span><% end %>
</div>


<table class="table">
  <thead>
    <th>Rental start date</th>
    <th>Rental end date</th>
    <th>Status</th>
    <th>Requester</th>
    <% if @cat.user_id == current_user.id %>
   
      <th>Approve</th>
      <th>Deny</th>
      <th>Delete</th>
    <% end %>
  </thead>

       
    <% @requests.each do |request|%>
    <tr>
      <td ><%= request.start_date %></td>
      <td><%= request.end_date %></td>
      <td><%= request.status %></td>
      <td><%= request.requester.user_name %>
      <% if current_user.id == @cat.user_id%>
      <% if request.pending? %>

        <td>
          <a href="<%= cat_rental_request_approve_url(request) %>" 
            class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-ok"></span> 
            Approve
          </a>
        </td>
        <td>
          <a href="<%= cat_rental_request_deny_url(request) %>" 
            class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-remove"></span> 
            Deny
          </a>
          </td>
      <% else %>

        <td></td>
        <td></td>

      <% end %>
      <td>
        
      <% action_url = cat_rental_request_url(request) %>
      <% button_glyphicon = "trash"%>
      <% button_msg = "Delete Request" %>
      <%= render "shared/button", 
                  action_url: action_url, 
                  button_glyphicon: button_glyphicon, 
                  button_msg: button_msg %>
                      
      </td>
    </tr>

    <% end %>
  <% end %>
  
</table>
</h1>

